/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(#F1FAFF, #CBE4FF);
    background-attachment: fixed;
}

/* ======= LOG IN STYLES =========== */
.home {
    position: relative;
    height: 100vh;
    background-image: none;
    background-size: cover;
    background-position: center;
    transition: var(--tran-05);
}

.form_container {
    position: absolute;
    max-width: 320px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1.2);
    z-index: 101;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-out;
}

.signup_form {
    display: none;
}

.form_container.active .signup_form {
    display: block;
}

.form_container.active .login_form {
    display: none;
}

.form_container h2 {
    font-size: 22px;
    color: #0b0217;
    text-align: center;
}

.input_box {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
}

.input_box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 30px;
    color: #333;
    transition: all 0.2s ease;
    border-bottom: 1.5px solid #aaaaaa;
}

.input_box input:focus {
    border-color: #151A2D;
}

.input_box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #707070;
}

.input_box i.email, .input_box i.password {
    left: 0px;
}

.input_box input:focus ~ i.email, .input_box input:focus ~ i.password {
    color: #151A2D;
}

.input_box i.pw_hide {
    right: 0;
    font-size: 18px;
    cursor: pointer;
}

.option_field {
    margin-top: 14px;
    margin-bottom: -8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form_container a {
    color: #151A2D;
    font-size: 12px;
}

.form_container a:hover {
    text-decoration: underline;
}

.checkbox {
    display: flex;
    column-gap: 8px;
    white-space: nowrap;
    cursor: pointer;
}

.checkbox input {
    accent-color: #151A2D;
}

.checkbox label {
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    color: #0b0217;
}

.form_container .button {
    background: #151A2D;
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    -webkit-text-fill-color: #fff;
}

.login_signup {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}

/* ======= SIDEBAR STYLES ========== */
.sidebar {
    width: 230px;
    position: fixed;
    margin: 16px;
    border-radius: 16px;
    background: #151A2D;
    height: calc(100vh - 32px);
    transition: 0.4s ease;
    z-index: 100;
}

.sidebar.collapsed {
    width: 75px;
}

.content-section {
    position: relative;
    padding-top: 20px;
    height: 100vh;
    left: 250px;
    width: calc(100% - 250px);
    background-image: none;
    background-size: cover;
    background-position: center;
    transition: 0.4s ease;
}

.sidebar-header {
    position: relative;
    display: flex;
    padding: 25px 20px;
    padding-bottom: 0;
    align-items: center;
    justify-content: space-between;
}

.sidebar-header .header-logo img {
    width: 41px;
    height: 41px;
    display: block;
    object-fit: contain;
    border-radius: 50%;
}

.sidebar-header .toggler {
    height: 35px;
    width: 35px;
    border: none;
    color: #151A2D;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    background: #fff;
    transition: 0.4s ease;
}

.sidebar-header .sidebar-toggler {
    position: absolute;
    right: 20px;
}

.sidebar.collapsed .sidebar-header .sidebar-toggler {
    transform: translate(2px, 55px);
}

.sidebar-header .toggler:hover {
    background: #dde4fb;
}

.sidebar-header .menu-toggler {
    display: none;
}

.sidebar-header .sidebar-toggler span {
    font-size: 1.75rem;
    transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-header .sidebar-toggler span {
    transform: rotate(180deg);
}

.sidebar-nav .nav-list {
    list-style: none;
    display: flex;
    gap: 2px;
    padding: 0 10px;
    flex-direction: column;
    transform: translateY(15px);
    transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .primary-nav {
    transform: translateY(65px);
}

.sidebar-nav .nav-link {
    color: #fff;
    display: flex;
    gap: 12px;
    white-space: nowrap;
    border-radius: 8px;
    align-items: center;
    padding: 8px 15px;
    text-decoration: none;
    transition: 0.4s ease;
    font-size:medium;
}

.sidebar-nav .nav-link:hover {
    color: #151A2D;
    background: #fff;
}

.sidebar-nav .nav-link .nav-label {
    transition: opacity 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .nav-link .nav-label {
    opacity: 0;
    pointer-events: none;
}

.sidebar-nav .nav-item {
    position: relative;
}

.sidebar-nav .nav-tooltip {
    position: absolute;
    top: -10px;
    opacity: 0;
    display: none;
    pointer-events: none;
    left: calc(100% + 25px);
    color: #151A2D;
    padding: 6px 12px;
    border-radius: 8px;
    background: #fff;
    white-space: nowrap;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0s;
}

.sidebar.collapsed .sidebar-nav .nav-tooltip {
    display: block;
}

.sidebar-nav .nav-item:hover .nav-tooltip {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(50%);
    transition: 0.4s ease;
}

.sidebar-nav .secondary-nav {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

/* ======= RESPONSIVE STYLES (Mobile) ======= */
@media (max-width: 700px) {
    .sidebar {
        height: 56px;
        margin: 13px;
        overflow-y: hidden;
        scrollbar-width: none;
        width: calc(100% - 28px);
        max-height: calc(100vh -28px);
    }

    .sidebar.menu-active {
        overflow-y: auto;
        overflow-x: auto;
    }

    .sidebar-header {
        position: sticky;
        top: 0;
        z-index: 20;
        background: #151A2D;
        padding: 8px 10px;
        border-radius: 16px;
    }

    .sidebar-header .header-logo img {
        width: 40px;
        height: 40px;
    }

    .sidebar-header .sidebar-toggler,
    .sidebar-nav .nav-tooltip {
        display: none;
    }

    .sidebar-header .menu-toggler {
        display: flex;
        height: 30px;
        width: 30px;
    }

    .sidebar-header .menu-toggler span {
        font-size: 1.3rem;
    }

    .sidebar-nav .nav-list {
        padding: 0 10px;
    }

    .sidebar-nav .nav-link {
        gap: 10px;
        padding: 10px;
        font-size: 0.94rem;
    }

    .sidebar-nav .nav-link .nav-icon {
        font-size: 1.37rem;
    }

    .sidebar-nav .secondary-nav {
        position: relative;
        bottom: 0;
        margin: 40px 0 30px;
    }
}

/* ======= TABLE STYLES ========== */
table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #f4f4f4;
}

/* ======= CONTENT SECTION STYLES ========== */


.content-section h1 {
    font-size: 24px;
    color: #333;
}

.content-section table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 3px;
}

.content-section table th,
.content-section table td {
    text-align: left;
    border: 1px solid #ddd;
}

.content-section table th {
    background-color: #151A2D;
    color: white;
}

.content-section table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.add-toggler{
  position: absolute;
  height: 35px;
  width: 35px;
  right: 7px;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  background: #151A2D;
}

/* Modal background */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Hidden by default */
.hidden {
  display: none;
}

/* Modal content */
.modal-content {
  position: absolute;
  max-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(1.2);
  z-index: 101;
  background-color: #151A2D;
  padding: 25px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-out;
}

.modal-content h2 {
  font-size: 22px;
  color: #fff;
  text-align: center;
}

.modal-content label {
  margin-bottom: 2px;
  color: #dde4fb;
  font-size: medium;
}

.modal-content input {
  height: 100%;
  width: 100%;
  padding: 3px 10px;
  margin-bottom: 10px;
  color: #0b0217;
  transition: all 0.2s ease;
  border-radius: 5px;
}

.modal-content select {
  background-color: #fff;
  height: 100%;
  width: 100%;
  padding: 2px 10px;
  margin-bottom: 10px;
  color: #0b0217;
  transition: all 0.2s ease;
  border-radius: 5px;
}

.modal-content button{
  position: relative;
  margin-top: 5px;
  margin-right: 5px;
  bottom: 5px;
  background: #fff;
  padding: 7px 3px;
  border-radius: 7px;
}


/* Close button */
.close-button {
  position: absolute;
  top: 6px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}

/* General styling for action buttons */
.action-btn {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 3px;
  font-size: 18px;
  color: #555;
  transition: color 0.3s, transform 0.2s;

  
}

.action-btn:hover {
  color: #007bff; /* Blue on hover */
  transform: scale(1.1); /* Slightly larger on hover */
}

/* Specific styles for edit button */
.edit-btn span {
  color: green; /* Green icon for Edit */
}

.edit-btn:hover span {
  color: #28a745; /* Brighter green on hover */
}

/* Specific styles for inactivate button */
.inactivate-btn span {
  color: red; /* Red icon for Inactivate */
}

.inactivate-btn:hover span {
  color: #dc3545; /* Brighter red on hover */
}

/* Center content in the Action column */
.action-cell {
  text-align: center; /* Horizontally center */
  vertical-align: middle; /* Vertically center */
}

/* Use flexbox for perfect centering */
.action-cell {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  gap: 10px; /* Space between buttons */
}
